.accordion {
    margin-top: 5px;
    background-color: rgb(14, 14, 19) !important;
    border: solid #556 2px;
    color: white !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95vw;
}

h3 {
    text-align: center;
}
