#menu-.MuiPopover-root.MuiMenu-root.MuiModal-root > .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
    background-color: #001;
    color: white;
}

.MuiDrawer-root > .MuiPaper-root {
    width: min-content;
    background-color: #223;
}

.MuiInputLabel-root {
    color: white !important;
}

.MuiInputBase-input {
    color: white !important;
}

.MuiInputBase-root {
    width: 100%;
}

.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.MuiFormControl-root {
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
    width: 16.5rem !important;
    margin-top: 1rem !important;
    display: block;
}

.MuiSvgIcon-root {
    color: white !important;
}

#back-arrow {
    color: inherit !important;
}

textarea {
    box-sizing: border-box;
    width: 16.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    border-radius: 5px 5px 0 5px;
    color: white;
    background-color: inherit;
    border: 1px solid white;
    box-shadow: 0px 2px 2px #1C2025;
    height: max-content;

    &:hover {
      border-color: #3399FF;
    }

    &:focus {
      outline: 0;
      border-color: #3399FF;
      box-shadow: 0 0 0 3px #0072E5;
    }

    /* firefox */
    &:focus-visible {
      outline: 0;
    }
}

.MuiPickersPopper-root > * {
    width: 20rem !important;
}

.MuiPickersPopper-root > svg {
    color: black !important;
}

.MuiPopover-root {
    width: 100% !important;
}

.MuiPopover-root > * {
    width: 14rem !important;
}

.MuiPickersLayout-root {
    background-color: #001 !important;
    color: white !important;
}

.menu-and-edit > div.MuiPaper-root {
    background-color: #001 !important;
    color: white !important;
    height: fit-content;
}

.MuiDayCalendar-weekContainer > *{
    color: white !important;
}

.MuiDayCalendar-header > *{
    color: white !important;
}

.MuiBackdrop-root {
    width: 100% !important;
}

.full-width {
    width: 100% !important;
}

.MuiFormControlLabel-root {
    color: white;
    margin-top: 1rem;
}

.menu-and-edit {
    margin-top: 1rem;
}

.menu {
    margin-left: 0 !important;
    margin-top: 1rem !important;
    flex: 2;
}

.edit-field {
    flex: 7;
    margin-left: 2rem;
}

.MuiMenuItem-root:hover {
    background-color: rgba(175, 175, 175, 0.25) !important;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected {
    background-color: rgba(0, 120, 255, 0.25);
}