.navbar {
    padding: 1vw;
    background-color: black;
    font-size: 1.25rem;
}

.navbar-link {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
    padding-right: 15px;
}

.navbar-main {
    padding: 1vw;
}

.navbar-items {
    display: inline;
    float: right;
    margin-right: calc(1vw - 15px);
}